# Created by .ignore support plugin (hsz.mobi)

.idea/**
logfiles/custLog/**
logfiles/ginLog/**
.idea/dataSources.local.xml

web
web/**
static
static/**
ssl/**
configs/**

release
release/**
resources
resources/**

copyToServ.bat
TLServer.exe