# Created by .ignore support plugin (hsz.mobi)

.idea/**
logfiles/
logfiles/**
.idea/dataSources.local.xml

web
web/**
static
static/**
ssl/**

release
release/**
resources
resources/**

copyToServ.bat
TLServer.exe